/01. The Importance of Linear Algebra in AI, Machine Learning & Data Science  Bangla.pdf
/02. A-Z Linear Algebra & Calculus for AI & Data Science  Mathematics for Machine Learning  Bangla.pdf
/03. Scaler, Vector, Matrix & Common Notations  Linear Algebra for Machine Learning & AI  Bangla.pdf
/04. Sets, Vector Space, Linear Independent, Norms  Linear Algebra for Machine Learning  Bangla.pdf
/05. Matrix Addition & Subtraction, Trace  Linear Algebra for Machine Learning, DS & AI  Bangla.pdf
/06. Matrix Multiplication  Linear Algebra for Machine Learning, Data Science & AI  Bangla.pdf
/07. Diagonal, Identity, Transpose & Orthogonal Matrix  Linear Algebra for Machine Learning  Bangla.pdf
/08. Determinant, Singular & Non-Singular Matrix  Linear Algebra for Machine Learning & AI  Bangla.pdf
/09. Invertible  Inverse Matrix  Linear Algebra for Machine Learning, AI & Data Science  Bangla.pdf
/10. Sparse Matrix Vs. Dense Matrix  Linear Algebra for Machine Learning, AI & Data Science  Bangla.pdf
/11. Rank of Matrix  Linear Algebra for Machine Learning, AI and Data Science  Bangla  @aiquest.pdf
/12. Alternative to Matrix Division  Linear Algebra for Machine Learning, AI & Data Science  Bangla.pdf
/13. Symmetric & Asymmetric Matrix  Linear Algebra for Machine Learning, AI & Data Science  Bangla.pdf
/14. Variance, Covariance, Correlation & Covariance Matrix  Linear Algebra for Machine Learning.pdf
/15. Covariance Matrix (Part-02)  Linear Algebra for Machine Learning, AI & Data Science  Bangla.pdf
/16. Basic Logarithmic Properties & Exponential Rules in Mathematics  Bangla  Basic Math @aiquest.pdf
/17. Positive-Negative Definite & Semi-Definite Matrix  Linear Algebra for Machine Learning  Bangla.pdf
/18. Indefinite Matrix  Convex & Non-Convex Function  Linear Algebra for Machine Learning  Bangla.pdf
/19. Jensen's inequality  Linear Algebra for Machine Learning, AI & Data Science  Bangla.pdf
/20. Hessian Matrix, Convexity & Optimization  Linear Algebra for Machine Learning & AI  Bangla.pdf
/22. Cramer's Rule  Linear Algebra for Machine Learning, AI & Data Science  Bangla.pdf
/26. Linear Algebra Practice Tests  MCQ  Linear Algebra for Machine Learning, Data Science  Bangla.pdf
/27. Basic Calculus  Notations  Calculus for Machine Learning, AI & Data Science  Bangla.pdf
/28. Partial Derivative (Part-01)  Calculus for Machine Learning, AI & Data Science  Bangla.pdf
/29. Partial Derivative (Part-2)  Chain Rule  Calculus for Machine Learning & Data Science  Bangla.pdf
/30. Partial Derivative of Cost Function  Calculus for Machine Learning, Data Science & AI  Bangla.pdf
/31. Integral Calculus  Learn Calculus for Data Science, AI & Machine Learning  Bangla.pdf
/32. Regression Analysis  Linear Algebra for Machine Learning, AI & Data Science  Bangla.pdf
/33. Beauty of Linear Algebra in Linear Regression  Machine Learning  Data Science  Bangla.pdf
/34. Correlation Analysis in Machine Learning  Linear Algebra for Data Science, ML & AI  Bangla.pdf
/37. Gradient Descent with Momentum & NAG  Optimization in Machine Learning  Bangla.pdf
/38. Optimizers Adagrad, Adadelta, RMSProp & Adam Variants  Optimization in Deep Learning  Bangla.pdf
/39. Coefficient of Determination in Regression Analysis  Mathematics for AI & Data Science  Bangla.pdf
/40. Logistic Regression in Machine Learning  Mathematics for ML, AI & Data Science  Bangla.pdf
/41. The Math Behind High-Dimensional Settings in Machine Learning  Bangla Tutorial  @aiquest.pdf
/42. L1 & L2 Regularization in Machine Learning  Lasso, Ridge, & Elastic Net  Bangla  @aiquest.pdf